.logo {
    font-family: 'Cinzel', serif;
    font-weight: 700;
    font-size: 24px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    font-family: 'Cinzel', serif;
    font-weight: 700;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
